{% extends "!layout.html" %}

{% set html5_doctype = true %}
{% set favicon = 'img/ywlogo_blau.png' %}
{% set docstitle = 'Youthweb Support Center' %}

{% set css_files = ['_static/css/bootstrap.min.css', '_static/css/style.css'] %}

{% set html_tag = '<html lang="en">' %}

{% block extrahead %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block css %}
    {%- for css in css_files %}
      {%- if css|attr("rel") %}
    <link rel="{{ css.rel }}" href="{{ pathto(css.filename, 1) }}" type="text/css"{% if css.title is not none %} title="{{ css.title }}"{% endif %} />
      {%- else %}
    <link rel="stylesheet" href="{{ pathto(css, 1) }}" type="text/css" />
      {%- endif %}
    {%- endfor %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ pathto('_static/js/jquery-3.3.1.min.js', 1) }}"></script>
    <script type="text/javascript" src="{{ pathto('_static/js/bootstrap.min.js', 1) }}"></script>
{% endblock %}

{% block doctype %}
<!doctype html>
{% endblock %}

{% block header %}
<header id="header-full-top" class="d-none d-lg-block header-full">
    <div class="container">
        <div class="text-center">
            <a href="{{ pathto(master_doc) }}">
                <h1 class="header-full-title">
                    <img src="{{ pathto('_static/img/yw-Schriftmarke-blau.png', 1) }}" alt="Youthweb e.V." title="Youthweb e.V." class="img-fluid">
                </h1>
            </a>
            <h1>Support Center</h1>
        </div>
    </div>
</header>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand d-lg-none" href="{{ pathto(master_doc) }}">
          <img src="{{ pathto('_static/img/ywlogo_blau.png', 1) }}" width="30" height="30" class="d-inline-block align-top" /> Support Center
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ pathto(master_doc) }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              FAQ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ pathto('faq/gibt-es-eine-app') }}">Gibt es eine App?</a>
              <a class="dropdown-item" href="{{ pathto('faq/ist-yw-kostenlos') }}">Ist Youthweb kostenlos?</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Regeln & Rechte
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ pathto('regeln-rechte/agbs-nutzungsbedingungen') }}">Allgemeine Geschäftsbedingungen (AGB)</a>
              <a class="dropdown-item" href="{{ pathto('regeln-rechte/bilderrichtlinien') }}">Bilderrichtlinien</a>
              <a class="dropdown-item" href="{{ pathto('regeln-rechte/forumregeln') }}">Forenregeln</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Über uns
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ pathto('about/wer-wir-sind') }}">Wer wir sind</a>
              <a class="dropdown-item" href="{{ pathto('about/glaubensbekenntnis') }}">Glaubensbekenntnis</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Fragen?</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Diese Seite
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Quellcode ansehen</a>
              <a class="dropdown-item" href="#">Bearbeiten</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" class="search" action="{{ pathto('search') }}" method="get">
          <input class="form-control mr-sm-2" type="search" name="q" placeholder="Suche" aria-label="Suchen">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Suchen</button>
          <input type="hidden" name="check_keywords" value="yes" />
          <input type="hidden" name="area" value="default" />
        </form>
      </div>
    </nav>
{% endblock %}

{%- block relbar1 %}{% endblock %}
{%- block relbar2 %}{% endblock %}

{% block content %}
    <div class="">
    {% block document %}
        <div class="documentwrapper">
            <div class="body" role="main">
            {% block body %} {% endblock %}
            </div>
        </div>
    {% endblock %}
    <div class="clearfix"></div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
</div>
{% endblock %}
